* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(#1c1917 50%, #ffb92a 50%);
}

.quadrado {
    background-color: rgb(78, 81, 122);
    width: 500px;
    height: 600px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 150px;
}

input {
    background-color: transparent;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    margin-left: 20px;
    margin-top: 40px;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border: 1px solid rgb(119, 119, 119);
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;

}

.pesquisar {
    height: 40px;
    border-radius: 5px;
    width: 100px;
    margin-left: 20px;
    background-color: rgb(235, 163, 9);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    cursor: pointer;
}

h1 {
    color: white;
    margin-left: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}

i {
    margin-left: 270px;
    color: white;
}

.detalhe {
    margin-left: 300px;
    margin-top: -22px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.detalhes {
    margin-top: 20px;
    margin-left: 245px;
    color: white;
    opacity: 0.5;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.detalhes span {
    margin-left: 10px;
}

.categorias {
  margin-left: 140px;
  display: inline-block;
}

.categoria {
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(119, 119, 119);
    color: white;
}