* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(#7278c0 45%, #82b67f 45%);
    overflow: hidden;
}

.quadrado {
    background-color: rgb(78, 81, 122);
    width: 500px;
    height: 800px;
    border-radius: 10px;
    width: 80%; 
    max-width: 600px;
    margin: 4% auto; 
    text-align: left; 
    padding: 20px; 
}

input {
    background-color: transparent;
    border-radius: 5px;
    height: 40px;
    width: 340px;
    margin-left: 20px;
    margin-top: 40px;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border: 1px solid rgb(119, 119, 119);
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;

}

.pesquisar {
    height: 40px;
    border-radius: 5px;
    width: 100px;
    margin-left: 70px;
    background-color: rgb(9, 235, 197);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    cursor: pointer;
}

h1 {
    color: white;
    margin-left: 340px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: -220px;
}

i {
    margin-left: 370px;
    color: white;
}

.detalhe {
    margin-left: 400px;
    margin-top: -22px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.detalhes {
    margin-top: 20px;
    margin-left: 340px;
    color: white;
    opacity: 0.5;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.detalhes span {
    margin-left: 10px;
}

.categorias {
  margin-left: 240px;
  display: inline-block;
}

.categoria {
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(119, 119, 119);
    color: white;
}

img {
    width: 200px;
    border-radius: 10px;
    height: 250px;
    margin-top: 40px;
    margin-left: 20px;
}

.conteudo {
    margin-top: 100px;
}

.conteudo h2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.conteudo p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    text-align: justify;
}